body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #F5F5F5;
    font-family: 'Karla', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1 {
    text-align: center;
    margin-top: 20px;
    font-size: 2.5rem;
    color: #5E548E;
    margin: 1%;
}
p {
    text-align: center;
    font-family: "Baloo 2", sans-serif;
    font-size: 1.3rem;
    margin: 10px 0;
    color: #555;
}

img {
    border-radius: 10%;
    
    display: block;
    margin: 10px auto;
    max-width: 10%;
    height: auto;
}


a.btn {
    display: block;
    width: 150px;
    margin: 20px auto;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 1rem;
    border-radius: 8px;
    text-decoration: none;
}

.btn-dark{
    background-color: #2600e6;
    border-color: #5E548E;
}


@media (min-width: 768px) {
    h1 {
        font-size: 3rem;
    }

    p {
        font-size: 1.5rem;
    }

    a.btn {
        width: 200px;
        font-size: 1.2rem;
    }
}
