body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #F5F5F5;
    font-family: 'Karla', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* HEADER */

header {
    position: sticky;
    top: 0;
    z-index: 1000;
    margin: 0;
    width: 100%;
    height: 18%;
    display: flex;
    flex-direction: row;
    background-color: #5E548E;
    font-family: "ABeeZee", sans-serif;
    border-radius: 0% 0% 3% 3%;
}

.columns-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

.columns-nav .first-nav {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: end;
    width: 100%;
    height: 70%;
    padding: 0;
}

.columns-nav .datos-vet {
    width: 27%;
    height: 100%;
    margin: 0px;
    padding: 30px 0px;
    border-bottom: #FFFFFF 2px solid;
}

.datos-vet h1 {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    padding: 0px;
    color: #F5F5F5;
    font-size: 1.4rem;
    line-height: 1.3rem;
    margin: 0;
}

.columns-nav .second-nav {
    display: flex;
    flex-direction: row;
    justify-content: right;
    width: 100%;
    height: 30%;
    padding: 0px;
}

.second-nav p {
    font-family: 'Times New Roman', Times, serif;
    font-weight: lighter;
    text-align: center;
    color: #BE95C4;
    font-size: 1.2rem;
    width: 27%;
    padding: 1px;
    margin: 0;
}

.header-logo {
    width: 12%;
    height: 100%;
    display: flex;
    align-items: center;
}

.header-logo img {
    border: 2px solid #BE95C4;
    /* Borde claro usando el color #9F86C0 */
    box-shadow: 0 0 10px #BE95C4;
    /* Sombra en el borde para un efecto suave */
    border-radius: 50%;
    object-fit: cover;
    transform: translateX(-10%);
}


/** Estilos de lista general **/
ul {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    width: 60%;
    height: 44px;
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
    border-bottom: #FFFFFF 2px solid;
    font-family: "ABeeZee", sans-serif;
    font-weight: bold;
}

li {
    display: flex;
    align-items: center;
    justify-content: right;
    font-size: 22px;
    width: 150px;
    height: 35px;
    margin: 5px;
}

a {
    color: #ffffff;
    width: auto;
    height: 30px;
    text-decoration: none;
    padding: 2px;
}

ul li #active {
    color: #BE95C4;
    width: auto;
    height: 30px;
    font-size: 24px;
    text-decoration: none;
    padding: 2px;
}

#active:hover,
ul li a:hover {
    color: #231942;
    font-size: 25px;
    transition: all 0.5s ease;
}


/* FORMULARIO */
h1 {
    text-align: center;
    margin-top: 20px;
    font-size: 2.5rem;
    color: #5E548E;
    margin: 1%;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 100%;
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form button {
    align-self: center;
}

.btn-primary {
    color: #fff;
    background-color: #5E548E;
    border-color: #5E548E;
}