* {
    box-sizing: border-box;
}

/* Estilos generales */
body {
    height: 100vh; /* Ocupa el 100% de la altura de la ventana del navegador */
    width: 100%;

    background-image: url(../images/background_gato.png);
    background-repeat: no-repeat; /* No repetir la imagen */
    background-size: cover; /* Ajusta la imagen para cubrir todo el fondo */

    margin: 0;
}

/* Estilos del main */
main {
    height: 60%;
    width: 100%;
    padding: 6vh 40vw 0 40vw; /* Padding relativo al tamaño del viewport */
}

/* Estilos del formulario */
form {
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    width: 100%;
    min-width: 260px;
    height: 320px;
    padding: 20px 30px 0 30px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
/* layout de input con label integrado */
.form-group {
    width: 90%;
    height: 45px;
    position: relative;
    margin: 10px 5px 0 5px;
}
.form-group .error-label {
    color: #7e1b25;
    padding: 5px 0px;
    margin: 0;
    text-align: right;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: right;
    font-size: 0.7rem;
    font-family: "Baloo 2", sans-serif;
    margin: 0;
}
/** Estilos del label **/

/* Estilos del label integrado al input cuando no hay contenido */
.form-label {
    position: absolute;
    top: 40%;
    left: 12px;
    transform: translateY(-70%);
    font-size: 0.9rem;
    pointer-events: none;
    transition: 0.3s ease all;
    padding: 0;
    font-family: sans-serif;
}
/* Estilos del label cuando el input tiene contenido */
.form-input:focus ~ .form-label,
.form-label.has-content {
    top: 0;
    left: 10px;
    font-size: 0.8rem;
    color: #6148b4;
    background-color: white;
    transition: 0.3s ease all;
    padding: 2px 5px;
}
/* Estilo del label cuando el input pierde el foco pero tiene contenido */
.form-input:not(:focus):not(:placeholder-shown) ~ .form-label {
    color: #999; /* Cambia el color del texto a gris cuando el input no está enfocado pero tiene contenido */
}

/* Clase que oculta el label */
.form-label.hidden {
    visibility: hidden;
}

/** Estilos del input **/

/* Estilos de los inputs del formulario */
.form-input {
    width: 100%;
    height: 30px;
    padding: 8px 8px 6px 8px;
    border: 1px solid #ced4da;
    font-family: Arial, sans-serif;
    border-radius: 5px;
    font-size: 0.8rem;
    outline: none;
    transition: border-color 0.2s ease, box-shadow 0.2s ease;
}
/* Estilos del input cuando el cursor está sobre él */
.form-input:hover {
    border-color: #6148b4;
    box-shadow: 0 0 0 0.2rem rgba(106, 80, 194, 0.233);
}
/* Estilos del input cuando el cursor este sobre él o se hace click */
.form-input:focus {
    border-color: #6148b4;
    box-shadow: 0 0 0 0.2rem rgba(106, 80, 194, 0.233);
}
/* Estilos del input autollenado */
input:-webkit-autofill {
    border: 1px solid #cccccc;
    -webkit-text-fill-color: #000000;
    box-shadow: 0 0 0px 1000px white inset !important;
    -webkit-box-shadow: 0 0 0px 1000px white inset !important;
}

/** Estilos de la caja de items de recordar login o usuario **/

/* Caja de items recordar login o usuario */
.layout {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 60px;
}
/* item de recordar logo */
.layout-remember {
    display: flex;
    align-items: center;
    justify-content: left;
    width: 80%;
}
/* item de recordar usuario */
.col {
    width: 60%;
    font-family: Arial, sans-serif;
    font-size: 0.77rem;
    font-weight: lighter;
}
/* Oculta el checkbox nativo */
.form-check-input {
    opacity: 0;
    position: absolute;
    width: 0;
    height: 0;
}
/* Estilo para el label que reemplaza el checkbox */
.form-check-label {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-family: Arial, sans-serif;
    font-size: 0.77rem;
    position: relative;
    padding-left: 20px; /* Espacio para el checkbox personalizado */
    user-select: none; /* Evita que el texto sea seleccionado/copiado */
}
/* Estilo para el área del checkbox personalizado */
.form-check-label::before {
    content: '';
    position: absolute;
    left: 0;
    width: 12px;
    height: 12px;
    border: 1px solid #ced4da; /* Color del borde */
    background-color: white; /* Color de fondo cuando no está seleccionado */
    transition: background-color 0.3s, border-color 0.3s;
    border-radius: 3px;
}
/* Estilo cuando el checkbox está seleccionado */
.form-check-input:checked + .form-check-label::before {
    background-color: #007bff; /* Color de fondo cuando está seleccionado */
    border-color: #007bff; /* Color del borde cuando está seleccionado */
    color: white; /* Color de la marca de verificación */
    text-align: center;
    line-height: 16px; /* Centra la marca de verificación verticalmente */
}
/* Estilo cuando el checkbox está seleccionado */
.form-check-input:checked + .form-check-label::before {
    background-color: #5E548E; /* Color de fondo cuando está seleccionado */
    border-color: #5E548E;
}
/* Marca de verificación */
.form-check-label::after {
    content: '';
    position: absolute;
    left: 4px;
    top: 0px;
    width: 3px;
    height: 9px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    display: none;
}
/* Mostrar la marca de verificación cuando el checkbox está seleccionado */
.form-check-input:checked + .form-check-label::after {
    display: block;
}

/* Estilos del botón */
button {
    position: relative;
    bottom: -20px;
    border-radius: 15px;
    background: linear-gradient(to bottom, #2b204e, #5940A8, #866CA9); /* Fondo degradado */
    border: none;

    color: white;
    font-weight: bold;

    width: 120px;
    height: 40px;
    font-size: 16px;
}
/* Estilos del botón cuando el cursor este sobre él o se hace click */
button:hover {
    cursor: pointer; /* Cambia el cursor a una mano */
    background: linear-gradient(to bottom, #64517a, #6148b4, #503d88); /* Fondo degradado */
    transition: all 0.5s ease;
}