* {
    box-sizing: border-box;
}

/* Estilos generales */
body {
    height: 100vh; /* Ocupa el 100% de la altura de la ventana del navegador */
    width: 100%;

    background-image: url(../images/background_gato.png);
    background-repeat: no-repeat; /* No repetir la imagen */
    background-size: cover; /* Ajusta la imagen para cubrir todo el fondo */
    font-family: "ABeeZee", sans-serif;

    margin: 0;
}

/* Estilos del main */
main {
    height: 60%;
    width: 100%;
    padding: 6vh 40vw 0 40vw; /* Padding relativo al tamaño del viewport */
}

/* Estilos del formulario */
form {
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

    width: 100%;
    min-width: 260px;
    height: 320px;
    padding: 20px 30px 0 30px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
/* layout de input con label integrado */
.form-group {
    width: 80%;
    height: 45px;
    position: relative;
    margin-top: 15px;
}
.error-message {
    color: #7e1b25;
    padding: 3px 0px;
    margin: 0;
    text-align: right;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: right;
    font-size: 0.6rem;
    margin: 0;
}

/** Estilos del label **/

/* Estilos del label integrado al input cuando no hay contenido */
.form-label {
    position: absolute;
    top: 45%;
    left: 12px;
    transform: translateY(-70%);
    font-size: 0.9rem;
    pointer-events: none;
    transition: 0.3s ease all;
    padding: 0;
}
/* Estilos del label cuando el input tiene contenido o está enfocado */
.form-input[type="text"]:focus ~ .form-label,
.form-input[type="password"]:focus ~ .form-label,
.form-input[type="text"]:valid ~ .form-label,
.form-input[type="password"]:valid ~ .form-label,
.form-label.has-content {
    top: 2px;
    left: 10px;
    font-size: 0.75rem;
    color: #6148b4;
    background-color: white;
    transition: 0.3s ease all;
    padding: 2px 5px;
}
/* Estilo del label cuando el input pierde el foco pero tiene contenido */
.form-input[type="text"]:not(:focus):not(:placeholder-shown) ~ .form-label,
.form-input[type="password"]:not(:focus):not(:placeholder-shown) ~ .form-label {
    color: #999;
}

/* Clase que oculta el label */
.form-label.hidden {
    visibility: hidden;
}

/** Estilos del input **/

/* Selecciona cualquier input de tipo texto o contraseña */
.form-input[type="text"],
.form-input[type="password"] {
    width: 100%;
    height: 35px;
    padding: 8px 8px 6px 8px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    font-size: 0.8rem;
    outline: none;
    transition: border-color 0.2s ease, box-shadow 0.2s ease;
}
/* Estilos del input cuando el cursor está sobre él */
.form-input[type="text"]:hover,
.form-input[type="password"]:hover {
    border-color: #6148b4;
    box-shadow: 0 0 0 0.2rem rgba(106, 80, 194, 0.233);
}
/* Estilos del input cuando está enfocado */
.form-input[type="text"]:focus,
.form-input[type="password"]:focus {
    border-color: #6148b4;
    box-shadow: 0 0 0 0.2rem rgba(106, 80, 194, 0.233);
}
/* Estilos del input autollenado */
input:-webkit-autofill {
    border: 1px solid #cccccc;
    -webkit-text-fill-color: #000000;
    box-shadow: 0 0 0px 1000px white inset !important;
    -webkit-box-shadow: 0 0 0px 1000px white inset !important;
}
#other-login {
    width: 100%;
    text-align: right;
    font-size: 0.83rem;
    margin-top: 20px;
    margin-bottom: 15px;
}
#other-login a {
    color: #0000009a;
    text-decoration: none;
    font-style: italic;
}
#other-login a:hover {
    color: #6147b4;
}
/** Estilos de la caja de items de recordar login o usuario **/

/* Caja de items recordar login o usuario */
.layout {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
/* item de recordar logo */
.layout-remember {
    display: flex;
    align-items: center;
    justify-content: left;
    width: 50%;
}
/* item de recordar usuario */
.col {
    text-align: right;
    width: 50%;
    font-size: 0.74rem;
    font-weight: lighter;
}
.col a {
    text-decoration: none;
}
.col a:hover {
    text-decoration: underline;
    color: #6148b4;
}
/* Oculta el checkbox nativo */
.form-check-input {
    opacity: 0;
    position: absolute;
    width: 0;
    height: 0;
}
/* Estilo para el label que reemplaza el checkbox */
.form-check-label {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 0.74rem;
    position: relative;
    padding-left: 18px; /* Espacio para el checkbox personalizado */
    user-select: none; /* Evita que el texto sea seleccionado/copiado */
}
/* Estilo para el área del checkbox personalizado */
.form-check-label::before {
    content: '';
    position: absolute;
    left: 0;
    width: 12px;
    height: 12px;
    border: 1px solid #ced4da; /* Color del borde */
    background-color: white; /* Color de fondo cuando no está seleccionado */
    transition: background-color 0.3s, border-color 0.3s;
    border-radius: 3px;
}
/* Estilo cuando el checkbox está seleccionado */
.form-check-input:checked + .form-check-label::before {
    background-color: #007bff; /* Color de fondo cuando está seleccionado */
    border-color: #007bff; /* Color del borde cuando está seleccionado */
    color: white; /* Color de la marca de verificación */
    text-align: center;
    line-height: 16px; /* Centra la marca de verificación verticalmente */
}
/* Estilo cuando el checkbox está seleccionado */
.form-check-input:checked + .form-check-label::before {
    background-color: #5E548E; /* Color de fondo cuando está seleccionado */
    border-color: #5E548E;
}
/* Marca de verificación */
.form-check-label::after {
    content: '';
    position: absolute;
    left: 4px;
    top: 0px;
    width: 3px;
    height: 9px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    display: none;
}
/* Mostrar la marca de verificación cuando el checkbox está seleccionado */
.form-check-input:checked + .form-check-label::after {
    display: block;
}

/* Botones main */
.btnlogin {
    position: relative;
    bottom: -20px;
    width: 120px;
    height: 40px;
    font-size: 1.1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    color: white;
    border: 1px solid transparent;
    border-radius: 0.4rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.btn-dark {
    color: #fff;
    background-color: #534886;
}

.btn-dark:hover {
    cursor: pointer; /* Cambia el cursor a una mano */
    background-color: #4730acd2;
    border-color: #4730acd3;
    transition: all 0.3s ease;
}
