* {
    box-sizing: border-box;
}

body {
    height: 100vh; /* Ocupa el 100% de la altura de la ventana del navegador */
    width: 100%;

    background-image: url(../images/background_gato.png);
    background-repeat: no-repeat; /* No repetir la imagen */
    background-size: cover; /* Ajusta la imagen para cubrir todo el fondo */

    margin: 0;
}

main {
    height: 60%;
    width: 100%;
    padding: 5% 0 0 33%;
}

#login_label {
    width: 236px;
    height: 310px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#login_label form {
    background: linear-gradient(to bottom, #C3ADE0, #B199D1, #866CA9); /* Fondo degradado */

    border-radius: 20px;
    padding: 10px;
    margin: 0 0 5px 0;
    width: 236px;
    height: 300px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#login_label button {
    border-radius: 15px;
    border: none;
    background: linear-gradient(to bottom, #231942, #5940A8, #866CA9); /* Fondo degradado */

    color: white;
    font-weight: bold;

    width: 110px;
    height: 35px;
}

#login_label button:hover {
    cursor: pointer;
    background: linear-gradient(to bottom, #3c2d6b, #6148b4, #7b6794); /* Fondo degradado */
    transition: all 0.5s ease;
}

#login_label form fieldset {
    padding: 0;
    margin: 0;

    width: 100px;
    height: 245px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: none;
}

#login_label form fieldset label {
    color: red;
    font-weight: lighter;
    font-size: 12px;
    margin: 10px 0 0 0;
    width: 130px; /* Ajusta el tamaño según tus necesidades */
    height: 30px;
}


.input-container {
    position: relative;
    width: 130px; /* Ajusta el tamaño según tus necesidades */
    height: 30px;

}

.input-container img {
    position: absolute;
    top: 55%;
    transform: translateY(-50%);
    width: 12px; /* Ajusta el tamaño de la imagen según tus necesidades */
    height: 12px;
    pointer-events: none;
}

#txtCedula {
    width: 100%;
    padding: 11px 5px 1px 24px; /* Ajusta el padding para hacer espacio a la imagen */
    border: none;
    border-bottom: 2px solid white;
    background-color: transparent;
    color: rgb(255, 255, 255);
    font-size: 12px;
    font-style: italic;
}

#txtCedula::placeholder {
    color: rgb(231, 231, 231); /* Texto del placeholder con color claro */
}

#txtCedula:focus {
    outline: none;
    border-bottom-color: #5E548E; /* Cambia el color del borde cuando se enfoca */
}

#txtCedula:focus::placeholder {
    color: transparent; /* Oculta el texto del placeholder cuando se enfoca */
}

datalist {
    width: 100%;
    padding: 11px 5px 1px 24px; /* Ajusta el padding para hacer espacio a la imagen */
    border: none;
    border-bottom: 2px solid white;
    background-color: transparent;
    color: rgb(255, 255, 255);
    font-size: 12px;
    font-style: italic;
}
