<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- logo -->
    <link rel="icon" type="image/png" th:href="@{/images/Logo.png}">
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"
        defer></script>
    <!-- Styles -->
    <link rel="stylesheet" th:href="@{/css/forms_styles.css}">
    <!-- Icons -->
    <script src="https://kit.fontawesome.com/a0a698ab6b.js" crossorigin="anonymous" defer></script>

    <title>Formulario Mascota</title>
</head>

<body>
    <!-- HEADER -->
    <header>
        <!-- Navbar -->
        <a th:href="@{/login/veterinario}" title="logout">
            <i class="fa-solid fa-right-from-bracket"></i>
        </a>
        <div class="columns-nav">
            <nav class="first-nav">
                <ul>
                    <li><a th:href="@{/veterinario/tratamientos}" title="Ver tratamientos">Tratamientos</a></li>
                    <li><a th:href="@{/veterinario/mascotas}" title='Ver mascotas'>Mascotas</a></li>
                    <li><a id="active" th:href="@{/veterinario/clientes}" title="Ver clientes">Clientes</a></li>
                </ul>

                <div class="datos-vet">
                    <h1>Dr. Lorena García Garavito Suarez</h1>
                </div>
            </nav>

            <nav class="second-nav">
                <p>Veterinario</p>
            </nav>
        </div>

        <div class="header-logo">
            <img th:src="@{/images/persona.png}" alt="foto" width="100" height="100">
        </div>
    </header>

    <!-- MAIN -->
    <h1 th:text="'Agregar Mascota de ' + ${cliente.nombre}"></h1>
    <!-- Formulario -->
    <form th:object="${mascota}" th:action="@{/veterinario/mascotas/agregar/{id}(id=${cliente.id})}" method="POST">
        <div class="form-floating mb-3">
            <input th:field="*{nombre}" type="text" class="form-control" id="floatingInput"
                placeholder="Nombre de la mascota">
            <label for="nombre">Nombre</label>
        </div>
        <div class="form-group">
            <label for="sexo">Sexo de la mascota</label>
            <select class="form-select form-control" th:field="*{sexo}" id="sexo">
                <option value="" disabled selected>Elegir sexo</option>
                <option value="Macho">Macho</option>
                <option value="Hembra">Hembra</option>
            </select>

        </div>
        <br>
        <div class="form-floating mb-3">
            <input th:field="*{raza}" type="text" class="form-control" id="floatingInput" placeholder="Ingresa la raza">
            <label for="floatingInput">Raza</label>
        </div>

        <div class="form-floating mb-3">
            <input th:field="*{fechaNacimiento}" type="date" class="form-control" id="floatingInput"
                placeholder="Ingresa la fecha">
            <label for="floatingInput">Fecha de nacimiento</label>
        </div>

        <div class="form-floating mb-3">
            <input th:field="*{fotoString}" type="text" class="form-control" id="floatingInput"
                placeholder="Ingresa URL de la foto">
            <label for="floatingInput">Foto URL</label>
        </div>

        <br>
        <button type="submit" class="btn btn-primary">Crear</button>

    </form>
    <a type="button" class="btn btn-primary" th:href="@{/veterinario/clientes}">Volver</a>
</body>

</html>