<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="../images/Logo.png">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"
        defer></script>

    <!-- Styles -->
    <link rel="stylesheet" href="../css/datos_styles.css">
    <title th:text="'Información de ' + ${cliente.nombre}"></title>
</head>

<body>
    <h1 th:text="'Información de ' + ${cliente.nombre}"></h1>
    <section>
        <p th:text="'Nombre: ' + ${cliente.nombre}"></p>
        <p th:text="'Cedula: ' + ${cliente.cedula}"></p>
        <p th:text="'Correo: ' + ${cliente.correo}"></p>
        <p th:text="'Celular: ' + ${cliente.celular}"></p>
    </section>


    <a type="button" class="btn btn-dark" th:href="@{/mascota/add}">Agregar Mascota</a>
    <a type="button" class="btn btn-dark" th:href="@{/cliente}">volver</a>
</body>

</html>