<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <!-- logo -->
     <link rel="icon" type="image/png" th:href="@{/images/Logo.png}">
    <title>Home Cliente</title>
    <link rel="stylesheet" th:href="@{/css/home_cliente_styles.css}">
    <link rel="icon" type="image/png" th:href="@{/images/Logo.png}">


</head>
<body>
    <header id="datos_cliente">
        <section class="box-foto">
            <h1 th:text="${cliente.nombre}"></h1>
            <img th:src="${cliente.fotoString}" width="90" height="90" alt="Foto de ${cliente.nombre}">
        </section>

        <form>
            <legend>Datos Personales</legend>
            <label for="cedula">
                <h3>Cedula</h3>
                <p th:text="${cliente.cedula}"></p>
            </label>
            <label for="correo">
                <h3>Correo</h3>
                <p th:text="${cliente.correo}"></p>
            </label>
            <label for="celular">
                <h3>Celular</h3>
                <p th:text="${cliente.celular}"></p>
            </label>

        </form>

    </header>

    <main id="datos_mascotas">
        <h1>Mascotas</h1>

        <section id="cards">
            <article class="card-pets">
                <div th:each="mascota : ${mascotas}">
                    <!-- Aquí puedes agregar una imagen si las mascotas tienen asociada una -->
                    <img th:src="@{${mascota.fotoString}}" alt="Imagen de mascota">
                    <p th:text="${mascota.nombre}"></p>
                </div>
            </article>
        </section>
    </main>
</body>
</html>
