<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- logo -->
    <link rel="icon" type="image/png" th:href="@{/images/Logo.png}">
    <title>Home Cliente</title>
    <link rel="stylesheet" th:href="@{/css/home_cliente_styles.css}">
    <!-- Icons -->
    <script src="https://kit.fontawesome.com/a0a698ab6b.js" crossorigin="anonymous" defer></script>
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&family=Baloo+2:wght@400..800&family=Glass+Antiqua&family=Karla:ital,wght@0,200..800;1,200..800&family=Lexend:wght@100..900&family=Turret+Road:wght@200;300;400;500;700;800&display=swap"
        rel="stylesheet">

</head>

<body>
    <header class="datos_cliente">
        <nav>
            <a th:href="@{/login/cliente}" title="Logout">
                <img src="/images/logout.png" alt="logout" width="45px"></img>
            </a>
        </nav>

        <form>
            <div class="foto-cliente">
                <img th:src="${cliente.fotoString}" with="100" height="auto"></img>
            </div>

            <legend>Datos Personales</legend>

            <label for="nombre">
                <h3>Nombre</h3>
                <p th:text="${cliente.nombre}"></p>
            </label>
            <label for="cedula">
                <h3>Cedula</h3>
                <p th:text="${cliente.cedula}"></p>
            </label>
            <label for="correo">
                <h3>Correo</h3>
                <p th:text="${cliente.correo}"></p>
            </label>
            <label for="celular">
                <h3>Celular</h3>
                <p th:text="${cliente.celular}"></p>
            </label>
            <label>
                <h3>Dirección</h3>
                <p th:text="${cliente.direccion}"></p>
            </label>

        </form>
    </header>

    <main class="main-mascotas">
        <h1>Mascotas</h1>
    
        <section class="scroll-cards">
            <article class="card-pet" th:each="mascota : ${mascotas}">
                <a th:href="@{/cliente/findMascota/{clienteId}/{mascotaId}(clienteId=${cliente.id}, mascotaId=${mascota.id})}" title="Detalles">
                    <img th:src="${mascota.fotoString}" alt="Imagen de mascota" height="100" width="100">
                    <h3 th:text="${mascota.nombre}"></h3>
                </a>
            </article>
        </section>

        <article class="info-pet">
            <div class="img-pet">
                <img th:src="${mascotaSeleccionada != null ? mascotaSeleccionada.fotoString : '/images/cat.png'}" 
                     alt="Imagen de mascota" 
                     height="150" width="auto">
            </div>
        
            <div class="text-pet">
                <form class="form-pet">
                    <label for="nombre">
                        <h3>Nombre</h3>
                        <p th:text="${mascotaSeleccionada != null ? mascotaSeleccionada.nombre : '-'}">
                        </p>
                    </label>
                    <label for="sexo">
                        <h3>Sexo</h3>
                        <p th:text="${mascotaSeleccionada != null ? mascotaSeleccionada.sexo : '-'}">
                        </p>
                    </label>
                    <label for="raza">
                        <h3>Raza</h3>
                        <p th:text="${mascotaSeleccionada != null ? mascotaSeleccionada.raza : '-'}">
                        </p>
                    </label>
                    <label for="nacimiento">
                        <h3>Nacimiento</h3>
                        <p th:text="${mascotaSeleccionada != null ? mascotaSeleccionada.fechaNacimiento : '-'}">
                        </p>
                    </label>
                </form>
            </div>            
        </article>
 
    </main>
</body>

</html>