<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <!-- logo -->
     <link rel="icon" type="image/png" th:href="@{/images/Logo.png}">
    <title>Login Veterinario</title>
    <link rel="stylesheet" th:href="@{/css/login_styles.css}">
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&family=Baloo+2:wght@400..800&family=Glass+Antiqua&family=Karla:ital,wght@0,200..800;1,200..800&family=Lexend:wght@100..900&family=Turret+Road:wght@200;300;400;500;700;800&display=swap"
        rel="stylesheet">
    <script src="../js/login_veterinario.js" defer></script>
</head>
<body>
    <main>
        <form th:action="@{/login/veterinario}" method="post">
            <img src="../images/avatar.png" alt="foto" width="70" height="70">

            <div class="form-group">
                <input type="text" id="txtCorreo" class="form-input" name="correo" th:value="${txtCorreo}" required>
                <label for="txtCorreo" class="form-label">Correo de usuario</label>
                <div class="error-message" id="emailError" th:if="${emailError}" th:text="${emailError}"></div>
            </div>

            <div class="form-group">
                <input type="password" id="txtPassword" class="form-input" name="password" th:value="${txtPassword}" required>
                <label for="txtPassword" class="form-label">Contraseña</label>
                <div class="error-message" id="passwordError" th:if="${passwordError}" th:text="${passwordError}"></div>
            </div>

            <div id="other-login">
                <a th:href="${'/login/cliente'}">Ingresar como cliente</a>
            </div>

            <div class="layout">
                <div class="layout-remember">
                    <input class="form-check-input" type="checkbox" value="" id="form2Example31"/>
                    <label class="form-check-label" for="form2Example31"> Recordar login </label>
                </div>
                <div class="col">
                    <!-- Simple link -->
                    <a href="#!">Olvidó usuario?</a>
                </div>
            </div>

            <button type="submit" class="btnlogin btn-dark" title='Ingresar'>INGRESAR</a>

        </form>

    </main>
</body>
</html>
