<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Cliente</title>
    <link rel="stylesheet" href="../css/login_cliente_styles.css">
    <script src="/js/login_cliente_.js" defer></script>
</head>
<body>
    <main>
        <section id="login_label">
            <form action="/user/login" method="post">
                <fieldset>
                    <img src="../images/avatar.png" alt="Foto perfil por defecto" width="90">

                    <div class="input-container">
                        <img src="../images/user.png" alt="Icono">
                        <input type="text" name="cedula" id="txtCedula" placeholder="Ingresa tu cedula">
                    </div>
                    <!-- Aquí se mostrará el mensaje de error -->
                    <label for="txtCedula">
                        <span th:text="${error}"></span>
                    </label>
                    
                </fieldset>

                <button type="submit">LOGIN</button>
            </form>

        </section>

    </main>
</body>
</html>
